$navbar-item-color: lightgrey;
$navbar-background-color: black;
$navbar-dropdown-background-color: black;
$navbar-item-hover-background-color: darkgrey;

@charset "utf-8";
@import "~bulma/bulma";
//@import "~bulma-switch/src/sass/index.sass";

html {
  height: 100vh;

}
body {
  background-color: black;
  height: 100%;
  width: 100%;
}
main {
  height: 100vh;
  z-index: -1;
}
